*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100%;
}
#main{
    width: 100%;
    height: 100%;
    display: flex;
}
#main #left{
    width: 40%;
    height: 100%;
    background-color: rgb(255, 255, 0);
}
#main #mid{
    width: 50%;
    height: 100%;
  background-image: url(https://images.unsplash.com/photo-1644083431312-949a98aa93a4?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHwxM3x8fGVufDB8fHx8&auto=format&fit=crop&w=500&q=60);
  background-position: center;

}
#main #right{
     width: 10%;
     height: 100%;
    background-color: yellow;
    
}
#main #text{
    position: absolute;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    top: 20%;
    left: 10%;
}
#main #text h1{
    font-size: 88px;
    color: blue;
}
#main #text h2{
    font-size: 88px;
    color: blue;
    left: 90%;
}
#main #text h2 span{
    color: black;
}
#main #right h3{
    position: absolute;
       font-size: 25px;
       top: 15%;
     transform: rotate(90deg);
    
}


